/*Fonts*/

@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

/*General*/

*, *:before, *:after {
  /*Maintain Box Borders*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
  /*Normalize (fallback)*/
  margin: 0;
  padding: 0;
}

*, html, body {
  /*Antialiasing*/
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
     -moz-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
  /*Handle Large Text-Blocks*/
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  /*line-height: 1.5em;*/
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: none;
}

/*a-link Animations*/

a:link, a:visited {
  /*Opacity*/
  /*-webkit-opacity: .85;*/
     /*-moz-opacity: .85;*/
          /*opacity: .85;*/
  /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  /*Typography*/
  color: inherit;
  text-decoration: none;
}

a:hover {
  /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  /*Typography*/
  /*color: #2980B9;*/
  text-decoration: underline;
  /*border-bottom: 1px solid #2980B9;*/
}

a:active {
  /*Typography*/
  text-decoration: none;
}

/*Faded Line*/

.fadedLine {
  /*Centering*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fadedLine > span {
  /*Display*/
  display: block;
  border: none;
  /*Styling*/
  color: #dcdcdc;
  height: 1px;
  background: #777;
}

/*Selection*/

::selection {
  background: rgba(0,0,0,0.2); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0,0,0,0.2); /* Gecko Browsers */
}

::-webkit-scrollbar {
  background-color: #f5f5f5; 
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}




/* Style the Image Used to Trigger the Modal */
#hoverImg {
    cursor: pointer;
    transition: 0.25s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption, #caption2, #caption3, #caption4, #caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption,
.modal-content, #caption2,
.modal-content, #caption3,
.modal-content, #caption4,
.modal-content, #caption5, { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.25s;
    animation-name: zoom;
    animation-duration: 0.25s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.25s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}





/*Construction*/

#building {
  position: relative;
  height: 100vh;
  width: 100vw;
  border-bottom: 1px solid #e5e5e5;
}

#building #buildingContainer {
  /*Centering*/
  vertical-align: middle;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#building #buildingContainer h1 {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.5em;
  color: #777;
  text-align: center;
}

#building #buildingContainer p {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  color: #777;
  text-align: center;
}

.center {
  /*Centering*/
  text-align: center !important;
}




/*Header*/

.header {
  /*Sizing*/
  width: 100vw;
  top: 0; left: 0;
  /*Background*/
  /*-- rgba(255,255,255,.5) -*/
  /*background-color: #F3F5F6;*/ 
  border-bottom: 1px solid #e5e5e5;
  /*Display*/
  position: relative;
  z-index: 5;
  overflow: hidden; 
   /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}

  .fixedHeader {
    position: fixed;
  }

.subHeader {
  /*Sizing*/
  width: 100vw;
  top: 0; left: 0;
  /*Background*/
  /*-- rgba(255,255,255,.5) -*/
  background-color: #fafafa; 
  border-bottom: 1px solid #e5e5e5;
  /*Display*/
  position: relative;
  z-index: 5;
  overflow: hidden; 
   /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
}

.header:hover,
.focusHeader {
  background-color: #F3F5F6;
}

.headerFixed {
       /*Transition*/
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  top: 0;
  left: 0;
    position: fixed;
}

.subHeader #navTitle {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  /*Spacing*/
  padding: 7.5px;
  padding-left: 15px;
  /*Positioning*/
  display: block;
  float: left;
}

.subHeader #navTitleAlt {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  /*Spacing*/
  padding: 7.5px;
  margin-right: calc(15px + 7.5px + 1em);
  /*Positioning*/
  display: block;
  float: right;
}

.header #navTitle {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  /*Spacing*/
  padding: 15px;
  /*Positioning*/
  display: block;
  float: left;
}

.header #navigationDesktop {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  /*Spacing*/
  padding-left: .5em;
  padding: 15px;
  /*Positioning*/
  display: block;
  float: right;
}

  .header a:hover,
  .subHeader a:hover {
    border-bottom: solid 1px #848484 !important;
    text-decoration: none;
  }

  .subHeader #navArrows {
    /*Typography*/
    font-family: "Megrim", cursive;
    font-weight: bold;
  }

.header #navigationMobile {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #666;
  /*Spacing*/
  padding-left: .5em;
  padding: 15px;
  /*Positioning*/
  display: block;
  float: right;
}

  .header #navigationDesktop a {
    /*Spacing*/
    margin-left: 15px;
  }

  .header #navigationMobile a {
    /*Spacing*/
    margin-left: 5px;
  }

  .header #navigationAccent {
    /*Underline Letters*/
    border-bottom: 1px solid #777;
  }

/*Desktop*/
@media screen and (min-width: 1000px) {
  #navigationDesktop {
    margin-right: calc(15px + 1em);
    font-size: 1.15em;
  }

  #navigationMobile {
    display: none;
    visibility: hidden;
  }

  #navTitle {
    margin-left: 15px;
    font-size: 1.15em;
  }

  .subHeader #navTitle,
  .subHeader #navTitleAlt,
  .subHeader #navArrows {
    font-size: .95em;
  }
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  #navigationDesktop {
    display: none !important;
    visibility: hidden;
  }

  .desktopLinks {
    visibility: hidden;
    display: none;
  }

  #navigationMobile {
      font-size: 1em;
      padding: 10px !important;
    }

  #navTitle {
    font-size: 1em;
    padding: 10px !important;
  }

  .subHeader #navTitle,
  .subHeader #navTitleAlt,
  .subHeader #navArrows {
    font-size: .85em;
  }
  .subHeader #navTitleAlt {
    margin-right: 0px !important;
    padding: 10px;
  }
}





/*Particle Background*/
#particles-js {
  /*Sizing*/
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow-y: hidden;
}





/*Welcome*/

.indexLanding {
  /*overflow-y: hidden;*/
}

.welcome {
    /*Sizing*/
    height: 100vh;
    /*position: relative;*/
    /*Centering*/
    margin-left: auto;
    margin-right: auto;
    /*Display*/
    z-index: 3;
    /*Background*/
    border-bottom: 1px solid #e5e5e5;
  }

  #welcomeContainer {
    /*Sizing*/
    width: 100vw;
    /*Centering*/
    vertical-align: middle;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .welcome #title {
    /*Typography*/
    font-family: 'Megrim', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #666;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
  }

  .welcome #subtitle {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #888;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
  }

#downArrow {
  /*Positioning*/
  /*position: relative;*/
}

#downArrow img {
  /*Positioning*/
  max-width: 2vw;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  bottom: 15px;
  position: absolute; 
  /*Transition*/
  opacity: .75;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}

#downArrow img:hover {
  /*Trandition on Hover*/
  opacity: 1;
}

/*4k*/
@media screen and (min-width: 2000px) {

  #downArrow img {
    /*Positioning*/
    max-width: 1.25vw;
  }

  .welcome #title {
    font-size: 4.75em;
  }

  .welcome #subtitle {
    font-size: 1.25em;
    letter-spacing: 10.95px;
    text-indent: .55em;
    margin-top: -1.5em;
  }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {

  .welcome #title {
    font-size: 4.75em;
  }

   #downArrow img {
    /*Positioning*/
    max-width: 3vw;
  }

  .welcome #subtitle {
    font-size: 1.25em;
    letter-spacing: 10.95px;
    margin-top: -1.5em;
    text-indent: .55em;
  }
}

/*Mobile*/
@media screen and (max-width: 1000px) {

  .welcome #title {
    font-size: 2.75em;
  }

  .welcome #subtitle {
    font-size: .88em;
    letter-spacing: 5.2px;
    text-indent: .325em;
    margin-top: -1.5em;
  }

  #downArrow img {
  /*Size*/
  max-width: 5vw;
}
}





/*Paragraphs*/

.paragraphContainer {
    /*Centering*/
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    /*Display*/
    z-index: 1;
    /*Spacing*/
    margin-top: calc(15px + .75em);
    padding: 15px;
    /*Background*/
    border-bottom: 1px solid #e5e5e5;
  }

    .paragraphContainer #title {
      /*Typography*/
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #848484;
      text-align: center;
      /*Spacing*/
      padding-bottom: 15px;
    }

  .paragraphContainer #headshots {
    /*Display*/
    overflow: hidden;
    /*Centering*/
    text-align: center;
  }

  .paragraphContainer-image {
    margin: 15px;
    display: inline;
    overflow: auto;
  }

  .paragraphContainer-image img {
    width: 100%;
    max-width: 25%;
    background-color: #fcfcfc;
    /*position: relative;*/
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    padding: 5px;
    color: #444;
    font-weight: 300;
    margin-bottom: 20px;
  }

    .paragraphContainer #headshots img {
      /*Display*/
      display: inline-block;
      /*Spacing*/
      padding: 10px;
      /*border-radius: 50%;*/
      /*Centering*/
      margin: auto 0;
      /*vertical-align: middle;*/
    }

  .paragraphContainer #paragraphContainerMe {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #848484;
    font-style: normal;
    text-align: left;
    text-indent: 1em;
    /*Spacing*/
    /*padding: 15px;*/
  }

  .paragraphContainer .skills {
    /*Double Columns*/
    display: flex;
    justify-content: space-around;
    /*White Space*/
    padding: 10px;
  }

  @media screen and (max-width: 400px) {
    .paragraphContainer .skills,
    .mobile-paragraphContainer-image {
      display: none;
      visibility: hidden;
    }
  }

    .paragraphContainer .skills span {
      /*Typography*/
      text-align: center;
      font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #848484;
    font-style: normal;
  }

    .paragraphContainer .skills img {
      /*Image Sizing*/
      max-width: calc(150px - 45px);
      height: auto;
      align-self: center;
    }

  .progressBar {
    /*Spacing*/
    padding: 15px; 
    /*Display*/
    display: inline-block;
  }

  .progressBar h4 {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #666;
    font-style: normal;
    /*Spacing*/
    margin-bottom: 7px;
    margin-bottom: .33em;
  }

  .progressBarContainer {
    /*Sizing*/
    width: 100%;
    height: 26px;
    height: 1.25em;
    /*Background*/
    background: #e6eae3;
    background: rgba(8,102,220,.2);
    /*Position*/
    overflow: hidden;
    border-radius: 5px;
  }
   
  .progressBarValue {
    /*Sizing*/
    height: 1.25em;
    line-height: 1.25em;
    /*Position*/
    float: left;
    /*Typography*/
    text-align: right;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  /*All Possible Values*/
  .value-00 { width: 0; }
  .value-10 { width: 10%; }
  .value-20 { width: 20%; }
  .value-30 { width: 30%; }
  .value-40 { width: 40%; }
  .value-50 { width: 50%; }
  .value-60 { width: 60%; }
  .value-70 { width: 70%; }
  .value-80 { width: 80%; }
  .value-90 { width: 90%; }
  .value-100 { width: 100%; }

  /*All Colors*/
  .html { background: #e67e22; }
  .css { background: #3498db; }
  .photo { background: #2c3e50; }
  .illustrator { background: #d35400; }
  .lightroom { background: #16a085; }
  .inDesign { background: #2980b9; }
  .js { background: #2c3e50; }
  .c { background: #525252; }
  .python { background: #2ecc71; }
  .cpp { background: #0866dc; }

/*4k*/
@media screen and (min-width: 2000px) {
  .paragraphContainer {
    /*Sizing*/
    width: 800px;
  }

    .paragraphContainer #title {
      font-size: 1.5em;
    }

    .paragraphContainer #headshots img {
      /*Sizing*/
      width: calc(100% / 4 - 3px);
    }

    .paragraphContainer #headshots #imageMobile {
      /*Alternate Sizing*/
      width: calc(100% / 8.0 - 3px);
    }

  .paragraphContainer #paragraphContainerMe {
    font-size: 1.05em;
  }

  .progressBar {
    /*Sizing*/
    width: calc(1000px / 2 - 30px);
  }

  .progressBar h4 {
    font-size: 1.05em;
  }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .paragraphContainer {
    width: 800px;
    padding-bottom: calc(15px + .25em);
  }

    .paragraphContainer #title {
      font-size: 1.5em;
    }

    .paragraphContainer #headshots img {
      width: calc(100% / 3.75 - 3px);
    }

    .paragraphContainer #headshots #imageMobile {
      /*Alternate Sizing*/
      width: calc(100% / 7 - 3px);
    }

  .paragraphContainer #paragraphContainerMe {
    font-size: 1.05em;
  }

  .progressBar {
    /*Sizing*/
    width: calc(1000px / 2 - 30px);
  }

  .progressBar h4 {
    font-size: 1em;
  }
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  .paragraphContainer {
    max-width: 800px;
  }

    .paragraphContainer #title {
      font-size: 1.5em;
    }

    .paragraphContainer #headshots {
    text-align: center;
  }

    .paragraphContainer #headshots img {
      width: 100%;
      max-width: calc(50vw - 60px);
      padding: 10px;
    }

    .paragraphContainer #headshots #imageMobile {
      width: 20%;
    }

  .paragraphContainer #paragraphContainerMe {
    font-size: 1em;
  }

  .paragraphContainer .skills {
    /*Double Columns*/
    column-count: 1;
  }

  .progressBar {
    /*Sizing*/
    width: 100%;
    max-width: 500px;
    /*Centering*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .progressBar h4 {
    font-size: 1em;
    text-align: center; 
  }

  .progressBarContainer {
    width: 100%;
    max-width: 500px;
  }
}





/*CV*/

#cvItem {
  /*Display*/
  display: block;
  /*Spacing*/
  padding: 15px;
}

#cvTitle {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #444;
}

#cvInfo {
  /*Typography*/
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #666;
  /*Spacing*/
  padding: 5px;
}

#cvImage {
  float: right;
  top: 0;
  /*Spacing*/
  margin-bottom: 5px;
  margin-left: 5px;
}

/*4k*/
@media screen and (min-width: 2000px) {
  #cvTitle {
    font-size: 1.25em;
  }

  #cvInfo {
    font-size: 1.05em;
  }

  #cvImage {
    width: 40px;
  }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  #cvTitle {
    font-size: 1.25em;
  }

  #cvInfo {
    font-size: 1.05em;
  }

  #cvImage {
    width: 40px;
  }
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  #cvTitle {
    font-size: 1.1em;
  }

  #cvInfo {
    font-size: .9em;
  }

  #cvImage {
    display: none;
    visibility: hidden;
  }
}






/*Cards*/

.cardContainer {
    /*Centering*/
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    /*Display*/
    z-index: 1;
    /*Spacing*/
    margin-top: 1em;
    /*margin-bottom: calc(15px + .75em);*/
    padding: 15px;
    /*Background*/
    border-bottom: 1px solid #e5e5e5;
  }

  .linkCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*Spacing*/
    padding-top: 0px; 
    /*Typography*/
    font-family: "Roboto", sans-serif;
  }

    .linkCenter .orangeButton,
    .linkCenter .blueButton {
      marigin-top: 0px;
    }

  .separator {
    /*Background*/
    border-top: 1px solid #e5e5e5;
    /*Spacing*/
    padding-top: 20px;
  }

  .cardContainer #subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #848484;
    text-align: center;
    padding-bottom: 15px;
  }

  .projectDescription {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #848484;
    font-style: normal;
    text-align: left;
    text-indent: 1em;
    /*Spacing*/
    padding: 15px;
    font-size: 1.05em;
    line-height: 1.5em;
    /*Sizing*/
    max-width: 800px;
    margin: 0 auto;
  }

    .projectDescription a {
      border-bottom: dotted 1px #848484;
    }

    .projectDescription a:hover {
      border-bottom: solid 1px #848484 !important;
      text-decoration: none;
    }

  .cardContainer #title {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #848484;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
  }

  .cardContainer #cardList {
    /*Centering*/
    margin: 0 auto;
    text-align: center;
  }

  .cardContainer #projectItem {
    /*Display*/
    display: inline-block;
    /*Spacing*/
    padding: 5px;
    vertical-align: top;
  }

  .card {
    width: 100%;
    background-color: #fcfcfc;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15);
    padding: 5px;    
    color: #444;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .card-image {
    /*Frame*/
    /*box-shadow: none !important;*/
    padding: 8px !important;
    box-shadow: 1px 1px 3px rgba(0,0,0,.15) ;
  }

  

    .card-image > img {
      display: inline !important;
  }

  .card.info {
    background-color: #5C9DED;
    color: #fff;
    box-shadow: 1px 1px 4px #e5e5e5;
  }

  .card.info button {
    border: 1px solid #fff;
    background-color: transparent;
    padding: 5px 30px;
    border-radius: 2px;
    display: block;
    margin: 10px auto;
  }

  .card.info button:hover {
    background-color: #fff;
    color: #5C9DED;
  }

  .card.info img {
    width: 30%;
    height: auto;
    margin: 10px auto;
  }

  .card.photo {
    padding: 0;
  }

  .card.photo > .card-content {
    padding: 15px;
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #666;
    font-style: normal;
    text-align: center;
  }

    .card-content  h3 {
      padding: 5px;
      /*Typography*/
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      color: #555;
      font-style: normal;
      text-align: center;

    }

  .card.photo > .card-content button {
    padding: 8px 30px;
    background-color: #f0f0f0;
    border: 1px solid #dadada;
    font-weight: 300;
    border-radius: 2px;
    color: #fff;
    background-color: #5C9DED;
    border: 1px solid #4B8CDC;
    margin: 20px 0 10px;
  }

  .card.photo > .card-content .repo {
    padding: 8px 30px;
    background-color: #27ae60;
    border: 1px solid #2ecc71;
    font-weight: 300;
    border-radius: 2px;
    color: #fff;
    background-color: #27ae60;
    border: 1px solid #2ecc71;
    margin: 20px 0 10px;
  }

  .card.photo > .card-content .image {
    padding: 8px 30px;
    background-color: #D2527F;
    border: 1px solid #F1A9A0;
    font-weight: 300;
    border-radius: 2px;
    color: #fff;
    background-color: #D2527F;
    border: 1px solid #F1A9A0;
    margin: 20px 0 10px;
  }

  .card-image {
    overflow: auto;
  }

  .screencaps {
    text-align: center;
  }

  .card-image p {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #848484;
    font-style: normal;
    text-align: left;
    padding: 5px;
    display: inline-block;
    float: left;
  }

  .card-image span:hover {
    /*Transition*/
    text-decoration: underline;
  }

    .card-image span {
      /*Typography*/
      display: block;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #848484;
      font-style: normal;
      text-align: left;
      padding: 5px;
      padding-bottom: 0px;
      margin-bottom: 4px;
      border-bottom: dotted 1px #848484;
      display: inline-block;
      text-align: right;
      float: right;
    }

    .card-image span:hover {
      border-bottom: solid 1px #848484;
      text-decoration: none ;
    }

  .card.photo img {
    width: 100%;
    height: auto;
    display: block;
  }

  .portfolioTitle {
    /*margin-top: 2.25em;*/
  }

  .designTitle {
    margin-top: 0em;
  }

/*4k*/
@media screen and (min-width: 2000px) {
  .cardContainer {
    /*Sizing*/
    width: 1000px;
  }

  .cardContainer #title {
    /*Typography*/
    font-size: 1.5em;
  }

  .cardContainer #cardList {
    /*Centering*/
    margin: 0 auto;
    text-align: center;
  }

  .cardContainer #projectItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 33%;
  }

  .large-card {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(50% - 10px) !important;
  }

  .cardContainer #projectItemSmall {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(32% - 0px);
  }

  .card {
    font-size: 0.95em;
  }

  .card.photo > .card-content {
    /*Typography*/
    font-size: 1.05em;
  }

    .card-content  h3 {
      /*Typography*/
      font-size: 1.25em;
    }

  .card.photo > .card-content button {
    font-size: 1em;
  }

  .card.photo > .card-content .repo {
    font-size: 1em;
  }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .cardContainer {
    /*Sizing*/
    width: 1000px;
  }

  .cardContainer #title {
    /*Typography*/
    font-size: 1.5em;
  }

  .cardContainer #projectItem {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: 33%;
  }

  .cardContainer #projectItemSmall {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(32% - 0px);
  }

  .card {
    font-size: 0.95em;
  }

  .card.photo > .card-content {
    /*Typography*/
    font-size: 1.05em;
  }

    .card-content  h3 {
      /*Typography*/
      font-size: 1.25em;

    }

  .card.photo > .card-content button {
    font-size: 1em;
  }

  .card.photo > .card-content .repo {
    font-size: 1em;
  }

  .large-card {
    /*Display*/
    display: inline-block;
    /*Sizing*/
    width: calc(50% - 10px) !important;
  }
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  .screencaps {
    visibility: hidden;
    display: none;
  }

  .cardContainer {
      /*Sizing*/
      width: 100vw;
    }

  .cardContainer #title {
    /*Typography*/
    font-size: 1.5em;
  }

  .cardContainer #projectItem {
    /*Display*/
    display: block;
    /*Sizing*/
    width: 100%;
  }

  .card {
    max-width: 500px;
    font-size: 0.95em;
    margin-left: auto;
    margin-right: auto;  
  }

  .card.photo > .card-content {
    /*Typography*/
    font-size: 1em;
  }

    .card-content  h3 {
      /*Typography*/
      font-size: 1.25em;

    }

  .card.photo > .card-content button {
    font-size: 1em;
  }

  .card.photo > .card-content .repo {
    font-size: 1em;
  }

  .portfolioTitle {
    /*margin-top: 2em;*/
  }
}

.imageShowcase {
  border-bottom: 1px solid #e5e5e5;
  margin-top: .75em;
}






/*Testimonials*/

.testimonials {
    /*Centering*/
    margin-left: auto;
    margin-right: auto;
    /*Display*/
    z-index: 1;
    /*Spacing*/
    margin-top: .5em;
    padding: 15px;
    padding-bottom: calc(15px + .25em);
    /*Background*/
    border-bottom: 1px solid #e5e5e5;
  }

    .testimonials #title {
      /*Typography*/
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: normal;
      color: #848484;
      text-align: center;
      /*Spacing*/
      padding-bottom: 15px;
    }

    .testimonials #quote {
      /*Display*/
      display: block;
      /*Typography*/
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #848484;
      font-style: normal;
      color: #848484;
      text-align: center;
      line-height: 1.5em;

      /*Spacing*/
      padding: 15px;
    }

    .testimonials #author {
      /*Display*/
      display: block;
      /*Typography*/
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: #848484;
      font-style: normal;
      text-align: right;
      text-indent: 1em;

      /*Spacing*/
      padding: 15px;
      margin-top: -20px;
      margin-right: 15px;
    }

/*4k*/
@media screen and (min-width: 2000px) {
  .testimonials {
    /*Sizing*/
    width: 1000px;
  }

    .testimonials #title {
      /*Typography*/
      font-size: 1.5em;
    }

    .testimonials #quote {
      /*Typography*/
      font-size: 1.05em;
    }

    .testimonials #author {
      /*Typography*/
      font-size: 1.05em;
    }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .testimonials {
    /*Sizing*/
    width: 1000px;
  }

    .testimonials #title {
      /*Typography*/
      font-size: 1.5em;
    }

    .testimonials #quote {
      /*Typography*/
      font-size: 1.05em;
    }

    .testimonials #author {
      /*Typography*/
      font-size: 1em;
    }
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  .testimonials {
    /*Sizing*/
    width: 100vw;
  }

    .testimonials #title {
      /*Typography*/
      font-size: 1.5em;
    }

  .testimonials #quote {
    /*Typography*/
    font-size: 1em;
  }

  .testimonials #author {
    /*Typography*/
    font-size: 1em;
  }
}





/*Buttons*/

.buttonContainer {
    /*Centering*/
    margin-left: auto;
    line-height: 1.5em;
    margin-right: auto;
    /*Display*/
    z-index: 1;
    /*Spacing*/
    margin-top: calc(1.5em + 45px);
    padding: 15px;
  }

  .buttonContainer #title {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #848484;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
  }

  .buttonContainer #availability {
    /*Display*/
    display: block;
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #666;
    font-style: normal;
    text-align: center;
  }

    .buttonContainer #availability span {
      /*Underline Letters*/
      border-bottom: 1px solid grey;
    }

  .buttonContainer #buttonContainerText {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #848484;
    font-style: normal;
    text-align: left;
    text-indent: 1em;
    /*Spacing*/
    /*padding: 15px;*/
    /*Display*/
    display: block;
    margin: 0 auto;
  }

  .buttonContainer #buttonContainerLinks {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444;
    font-style: normal;
    text-align: center;
    /*Spacing*/
    padding-bottom: 15px;
    /*Display*/
    display: block;
  }

  .buttonContainer #buttonContainerLinks button {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #444;
    font-style: normal;
    text-align: center;
    word-spacing: 1em;
    padding: 8px 30px;
    /*Spacing*/
    border-radius: 2px;
    color: #FEFEFE;
    margin: 20px 0 10px;
    max-width: 800px;
  }

    button:hover {
      /*Background*/
      text-decoration: underline;
    } 

    .orangeButton {
      padding: 8px 30px;
      background-color: #F27935;
      border: 1px solid #E67E22;
      font-weight: 300;
      /*font-size: 0.92em;*/
      border-radius: 2px;
      color: #fff;
      background-color: #F27935;
      border: 1px solid #E67E22;
      margin: 20px 0 10px;
    }

    .blueButton {
      padding: 8px 30px;
      background-color: #5C9DED;
      border: 1px solid #4B8CDC;
      font-weight: 300;
      /*font-size: 0.92em;*/
      border-radius: 2px;
      color: #fff;
      background-color: #5C9DED;
      border: 1px solid #4B8CDC;
      margin: 20px 0 10px;
    }

     .greenButton {
      padding: 8px 30px;
      background-color: #27ae60;
      border: 1px solid #2ecc71;
      font-weight: 300;
      /*font-size: 0.92em;*/
      border-radius: 2px;
      color: #fff;
      background-color: #27ae60;
      border: 1px solid #2ecc71;
      margin: 20px 0 10px;
    }

     .purpleButton {
      padding: 8px 30px;
      background-color: #8e44ad;
      border: 1px solid #9b59b6;
      font-weight: 300;
      /*font-size: 0.92em;*/
      border-radius: 2px;
      color: #fff;
      background-color: #8e44ad;
      border: 1px solid #9b59b6;
      margin: 20px 0 10px;
    }

    .redButton {
      padding: 8px 30px;
      background-color: #D24D57;
      border: 1px solid #D64541;
      font-weight: 300;
      /*font-size: 0.92em;*/
      border-radius: 2px;
      color: #fff;
      background-color: #D24D57;
      border: 1px solid #D64541;
      margin: 20px 0 10px;
    }

/*4k*/
@media screen and (min-width: 2000px) {
  .buttonContainer {
    /*Sizing*/
    width: 800px;
  }

  .buttonContainer #title {
    /*Typography*/
    font-size: 1.5em;
  }

  .buttonContainer #availability {
    /*Typography*/
    font-size: 1.25em;
  }

  .buttonContainer #buttonContainerText {
    /*Typography*/
    font-size: 1.05em;
  }

  .buttonContainer #buttonContainerLinks {
    /*Typography*/
    font-size: 1.05em;
  }

  .buttonContainer #buttonContainerLinks button {
    /*Typography*/
    font-size: 1em;
  }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .buttonContainer {
    /*Sizing*/
    width: 800px;
  }

  .buttonContainer #title {
    /*Typography*/
    font-size: 1.5em;
  }

  .buttonContainer #availability {
    /*Typography*/
    font-size: 1.25em;
  }

  .buttonContainer #buttonContainerText {
    /*Typography*/
    font-size: 1.05em;
  }

  .buttonContainer #buttonContainerLinks {
    /*Typography*/
    font-size: 1em;
  }

  .buttonContainer #buttonContainerLinks button {
    /*Typography*/
    font-size: 1em;
  }
}

/*Mobile*/

@media screen and (max-width: 1000px) {
  .buttonContainer {
    /*Sizing*/
    max-width: 800px;
  }

  .buttonContainer #title {
    /*Typography*/
    font-size: 1.5em;
  }

  .buttonContainer #availability {
    /*Typography*/
    font-size: 1.25em;
  }

  .buttonContainer #buttonContainerText {
    /*Typography*/
    font-size: 1em;
  }

  .buttonContainer #buttonContainerLinks {
    /*Typography*/
    font-size: 1em;
    margin: 0 auto;
  }

  .buttonContainer button {
      /*Typography*/
      font-size: 1em;
      display: block;
      text-align: center;
      margin: 0 auto;
      width: calc(100vw - 30px);
  }

  .buttonContainer .buttonContainer {
    /*Center Buttons*/
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
}





/*Downloads*/

.downloads h2 {
  margin-top: 2.25em;
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  .downloads h2 {
    margin-top: 0em;
  }
}





/*Footer*/

.footer {
    /*Background*/
    /*border-top: 1px solid #e5e5e5;*/
    /*Centering*/
    margin-left: auto;
    margin-right: auto;
    /*Display*/
    z-index: 1;
  }

  .projectFooter {
    max-width: 1000px !important;
    text-indent: .5em !important;
  }

  .footer > #copyright {
    /*Typography*/
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #848484;
    /*text-indent: 1em;*/
    /*Spacing*/
    padding: 15px; 
    /*Display*/
    display: block;
  }

/*4k*/
@media screen and (min-width: 2000px) {
  .footer {
    /*Sizing*/
    max-width: 800px;
  }

  .footer > #copyright {
    font-size: 1.05em;
  }
}

/*Desktop*/
@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .footer {
    /*Sizing*/
    max-width: 800px;
  }

  .footer > #copyright {
    font-size: 1em;
  }
}

/*Mobile*/
@media screen and (max-width: 1000px) {
  .footer {
    /*Sizing*/
    width: 100vw;
  }

  .footer > #copyright {
    font-size: .9em;
  }
}
